<app-game-layout>
    <mat-sidenav-container fullscreen>
        <mat-toolbar class="mat-elevation-z1">
            <span>
                Player 1
            </span>
    
            <!-- Player 1 Points-->
            <span class="score-divider sd1"></span>
            <mat-icon *ngFor="let point of playerOnePoints">check_circle</mat-icon>
    
            <span class="spacing"></span>
    
            <!-- Player 2 Points-->
            <mat-icon *ngFor="let point of playerTwoPoints">check_circle</mat-icon>
            <span class="score-divider sd2"></span>
    
            <span>
                Player 2
            </span>
    
        </mat-toolbar>

        <app-active-matchup [matchup]="matchups[round -1]" (nextRound)="onNextRound(sidenav)"></app-active-matchup>
        <mat-sidenav #sidenav opened mode="side">
                <app-deck [label]="'Player ' + turn + ' selection'" 
                [error]="!!error"
                [starfighters]="!!(turn === Turn.PlayerOne) ?(playerOneStarfighters$ | async) : (playerTwoStarfighters$ | async)" 
                (selectCard)="onCardSelected(turn, $event, sidenav)">
                </app-deck>
        </mat-sidenav>
    </mat-sidenav-container>

</app-game-layout>
