<mat-toolbar color="accent" class="mat-elevation-z2">
    <h1 *ngIf="!matchup?.playerOnePick" id="cy-waiting-for-player-one">Waiting for Player 1</h1>
    <h1 *ngIf="matchup?.playerOnePick && !matchup?.playerTwoPick" id="cy-waiting-for-player-two">Waiting for Player 2</h1>
    <h1 *ngIf="matchup?.winner" id="cy-matchup-complete">Armor up!</h1>
</mat-toolbar>

<main class="matchup">
    <app-starfighter-card id="cy-player-one-pick" [content]="matchup?.playerOnePick" [labelIfEmpty]="'No starfighter selected'">
    </app-starfighter-card>
    <app-winner-wheel *ngIf="!!matchup?.winner" [winner]="matchup?.winner"></app-winner-wheel>
    <app-starfighter-card id="cy-player-two-pick" [content]="matchup?.playerTwoPick" [labelIfEmpty]="'No starfighter selected'">
    </app-starfighter-card>
</main>

<button mat-flat-button 
        color="accent" 
        [disabled]="!matchup?.winner" 
        id="cy-next-round"
        (click)="nextRound.emit()">
        Next Round
</button>


